#navbar {
  background-color: #395b64;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  padding: 4px 10px;
}

#navbar_icon {
  width: 280px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
#navbar_icon img {
  width: 22%;
  height: 70px;
  border-radius: 20px;
}
#name {
  margin-left: 10px;
}

.link {
  display: flex;
  text-decoration: none;
  font-size: 18px;
  font-weight: 100;
  cursor: pointer;
  transition: 0.5s;
  color: white;
}

.link:hover {
  color: #dadbdd;
  transform: scale3d(1.1, 1.1, 1.1);
}

.right_icons {
  font-weight: bold;
  display: flex;
  text-decoration: none;
  font-size: 25px;
  cursor: pointer;
  transition: 0.5s;
  margin-right: 20px;
  color: white;
}
.right_icons:hover {
  color: #dadbdd;
  transform: scale3d(1.1, 1.1, 1.1);
}
